/*
light blue: #6dc6ec
blue: #28abe3
dark blue: #167ba7
turqoise: #1fda9a
dark turqoise: #18a676
sand: #f7eac8
yellow: #e8b71a
red: #db3340
*/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  height: 100vh;
}

html, body {
  color: #000;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #fff;
  min-height: 100vh;
}

.bold {
  font-weight: 600;
}

.index-wrapper {
  min-height: 100vh;
}

.char-pick-wrapper {
  min-height: 90vh;
  padding-bottom: 55px;
}

.user-wrapper {
  min-height: 90vh;
  padding-top: 90px;
  padding-bottom: 55px;
}

h1.page-header {
  border-bottom: none;
  font-weight: 300;
  letter-spacing: 5px;
  margin: 0 0 15px;
  padding: 0;
  text-transform: uppercase;
}

p.page-desc {
  margin: 0 0 15px;
}

/* character pick page header */
h1.page-header.pick-char {
  color: #18a676;
}

/* user pages header */
h1.page-header.main {
  color: #28abe3;
}

/* lesson pages header */
h1.page-header.lesson {
  color: #db3340;
}
