/* mobile view */
.footer {
  background-color: #167ba7;
  bottom: 0;
  color: #fff;
  height: 35px;
  text-align: center;
  width: 100%;
}

.footer p {
  line-height: 35px;
  margin-bottom: 0;
}


/* desktop view */
@media screen and (min-width: 768px) {
  .footer {
    height: 50px;
  }

  .footer p {
    line-height: 50px;
  }
}
