<h1 class="page-header lesson">variables</h1>

<div class="container">
	You may be familiar with variables from math class.
	<h2 class = "page-header lesson">x + 1 = 5</h2>
	In programming, a variable is a name that stores a value or object.<br><br>

	For example, say we have a variable named x that refers to a dog object.<br>
	<h2 class = "page-header lesson">x = dog</h2><br><br>
</div>

<div class = "container">
	Select the picture that correctly replaces the variable.<br>
	<h2 class = "page-header lesson"><u>   x  </u> catches the frisbee.</h2><br>

	<div class="slideDown" ng-hide="collapse">
		<div class = "row">
			<div class = "column col-xs-6">
				<img class= "img-responsive" ng-src="../images/cat.png">
			</div>
			<div class = "column col-xs-6">
				<img class= "img-responsive" ng-src="../images/trashcan.png">
			</div>
		</div>
		<div class = "row">
			<div class = "column col-xs-6">
				<img class= "img-responsive" ng-src="../images/girl.png">
			</div>
			<div class = "column col-xs-6">
				<a ng-model="collapse" ng-click="collapse=true"><img class= "img-responsive" ng-src="../images/dog.png"></a>
			</div>
		</div>
	</div>

	<div class="lesson-completed pull-right" ng-show="collapse">
		Great Job! +5 exp!
	</div>
</div><br><br>

<p><a ui-sref="user.dashboard">Back</a></p>