<h1>Dashboard</h1>
<hr>
<div class="panel panel-default" ng-repeat="lesson in dashboard.lessons">
  <a ui-sref="user.lesson.{{lesson.route}}">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2 col-xs-4">
        <img class="img-circle img-responsive img-badge" ng-src="{{lesson.img}}"/>
      </div>
      <div class="col-md-10">
        <p class="lesson-level">{{lesson.header}}</p>
        <p class="lesson-title">{{lesson.title}}</p>
        <p class="lesson-description">{{lesson.description}}</p>
      </div>
    </div>
  </div>
</a>
</div>
