<h1 class="page-header main">Profile</h1>
<div class="container">
    <div class="well well-sm">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <img src="../../images/chris-carl.png" alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-6 col-md-8">
          <h1>Chris Carl</h1>
          <h3>Job: <small>Developer</small></h3>
          <h3>Experience: <small>Dictatorship</small></h3>
          <h3>Level: <small>Elite</small></h3>
        </div>
      </div>
    </div>
</div>
