<div class="splash animate-hide" ng-hide="splash.fade">
  <div class="container">
    <!-- <div class="splash-logo"><img src="/images/logo.png"></div> -->
    <div class="splash-logo"><span class="glyphicon glyphicon-leaf"></span></div>
    <div class="splash-title">When I Grow Up...</div>
  </div>
</div>

<!-- Tommy -->
<div class="container" ng-show="splash.fade">
  <h1>PICK A CHARACTER:</h1>
  <p>Proud Programmer</p>
  <p>Best Biologist</p>
  <p>Exciting Engineer</p>
  <p><a ui-sref="user.dashboard">Let's get started!</a></p>
</div>
