<div class="splash animate-hide" ng-hide="splash.fade">
  <div class="container">
    <div class="splash-logo"><span class="glyphicon glyphicon-leaf"></span></div>
    <div class="splash-title">When I Grow Up...</div>
  </div>
</div>

<div class="char-pick-wrapper" ng-show="splash.fade">
  <div class="character-header">
    <h1>When I Grow Up...</h1>
  </div>

  <div class="container">
    <h1 class="page-header pick-char">I wanna be a...</h1>
    <hr/>
    <div class="characters-wrapper">
      <div class="character" ng-repeat="character in splash.characters" ng-class="{ selected : character.selected }" ng-click="splash.pick()">
        <div class="{{ character.icon }} avatar" style="color: {{ character.color }}; border: 2px solid {{ character.color }};"></div>
        <div class="occupation" style="background-color: {{ character.color }};">{{ character.occupation }}</div>
      </div>
    </div>

    <hr/>
    <a class="character-btn btn btn-block" ui-sref="user.dashboard" role="button">Let's get started!</a>
  </div>
</div>
