<div class="splash animate-hide" ng-hide="splash.fade">
  <div class="container">
    <div class="splash-logo"><span class="glyphicon glyphicon-leaf"></span></div>
    <div class="splash-title">When I Grow Up...</div>
  </div>
</div>

<div ng-show="splash.fade">
  <div class="character-header">
    <h1>When I Grow Up...</h1>
  </div>

  <div class="container">
    <h1 class="page-header pick-char">Pick Your Character</h1>
    <hr/>
    <div class="characters-wrapper">
      <div class="character" ng-repeat="character in splash.characters" ng-class="{ selected : character.selected }" ng-click="splash.pick()">
        <div class="name">{{ character.name }}</div>
        <img class="avatar img-circle img-responsive" ng-src="{{ character.avatar }}"/>
        <div class="occupation">{{ character.occupation }}</div>
      </div>
    </div>

    <hr/>
    <a class="character-btn btn btn-block" ui-sref="user.dashboard" role="button">Let's get started!</a>
  </div>
</div>
