.section {
  color: #db3340;
}

.nav-btn {
  background-color: #db3340;
  color: #fff;
  font-weight: 600;
  width: 50%;
  margin: 0 auto;
}

/* variables */
code.large {
  display: inline-block;
  font-size: 24px;
  margin: 10px auto;
}

.quiz {
  margin: 30px 0;
}

.quiz .row {
  margin-bottom: 20px;
}

.choice {
  cursor: pointer;
  border: 1px solid #db3340;
  margin: 0 auto;
  padding: 5px;
  width: 140px;
}

.choice.selected {
  border: 1px solid #5cb85c;
  background-color: #dff0d8;
}
